<% include ../partials/head.ejs %>
<title>My Games</title>
</head>
<body class="no-js">
	<header>
		<% include ../partials/header.ejs %>
		<h1><%= user.username %><span>games</span></h1>
	</header>
	<main class="fade-in">
		<section>
			<header>
				<h2>All Games</h2>
				<button type="button" name="button" id="edit-button">Edit</button>
			</header>
			<a href="games/search" id="link-add-game">
				<article class="card-add-game">
					<h3>Add Game</h3>
					<div class="card-add-game-outline"></div>
					<div class="card-add-game-icon icon-plus"></div>
				</article>
			</a>
			<% for (var index = 0; index <data.length; index++) { %>
			<article class="card-game">
				<h3><%= data[index].title %></h3>
				<img src=<%= data[index].img %>>
				<form class="delete-form" action="games/delete/<%= data[index].id %>" method="post">
					<button class="icon-trash" type="submit">Delete</button>
				</form>
			</article>
			<% } %>
		</section>
	</main>
	<% if (notification) { %>
		<% include ../partials/notification.ejs %>
	<% } %>
	<script src="/static/scripts/gamelibrary.js"></script>
</body>
</html>
