<% include ../partials/head.ejs %>
<title>Login</title>
</head>
<body class="no-js">
	<header>
		<% include ../partials/header.ejs %>
		<h1><%= user.username %><span>profile</span></h1>
	</header>
	<main class="fade-in">
		<section>
			<header>
				<h2>Games</h2>
			</header>
			<footer>
				<a href="/profile/games">See more</a>
			</footer>
		</section>
	</main>
	<% if (notification) { %>
		<% include ../partials/notification.ejs %>
	<% } %>
</body>
</html>
