<% include ../partials/head.ejs %>
<title>Add games</title>
</head>
<body>
	<header>
		<% include ../partials/header.ejs %>
		<h1>Profile<span>my games</span></h1>
	</header>
	<main class="fade-in">
		<section id="search" class="user-input">
			<form id="search-game-form" action="/profile/games/search/query" method="get">
				<input type="text" name="q" id="query" value="">
				<button type="submit">Search</button>
			</form>
		</section>
			<section id="resultlist">
				<% for (var index = 0; index <data.length; index++) { %>
				<article class="card-game">
					<h3><%= data[index].title %></h3>
					<img src=<%= data[index].img %>>
					<form class="" action="/profile/games/add/<%= data[index].id %>" method="post">
						<button class="icon-plus" type="submit" class="addIcon">Add Game</button>
					</form>
				</article>
				<% } %>
			</section>
	</main>
	<% if (notification) { %>
			<% include ../partials/notification.ejs %>
	<% } %>
	<script src="/static/scripts/search.js"></script>
</body>
</html>
