<% include ./partials/head.ejs %>
<title>Home</title>
</head>
<body class="no-js">
	<header>
		<% include ./partials/header.ejs %>
		<h1>Not found<span>sorry</span></h1>
	</header>
	<main class="fade-in">
		<section>
			<header>
				<h2>This page cannot be found</h2>
			</header>
			<p>Please go back to the <a href="/">homepage</a></p>
		</section>
	</main>
</body>
</html>
