:root {
	/* Custom properties for fonts */
	--font-body: 'open sans', sans-serif;
	--font-heading: 'futura-pt', sans-serif;
	--font-game: 'lores-12', sans-serif;

	/*  Custom properties for colors */
	--primary-accent: rgb(136, 75, 232);
	--secondary-accent: rgb(222, 205, 29);
	--alt-primary-accent: rgb(170, 131, 232);
	--font-body-color: rgb(207, 207, 207);
	--bg1: rgb(32, 34, 37);
	--bg2: rgb(54, 57, 63);
	--bg3: rgb(47, 49, 54);
	--line: rgb(68, 68, 68);
}

/* Some resets and defaults settings */
body {
	/* Sets standard properties */
	font-family: var(--font-body);
	color: var(--font-body-color);
	background-color: var(--bg2);

	/* resets user-agents stylesheet */
	margin: 0;


}

@supports(padding: max(0px)) {
	body {
		padding-left: max(0, env(safe-area-inset-left));
        padding-right: max(0, env(safe-area-inset-right));
    }
    header {
		padding-top: env(safe-area-inset-top);
	}
}

main {
	max-width: 38rem;
	padding: 1.5rem;
	margin: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
}

a {
	color: var(--font-body-color);
}

input[type=text],
input[type=date],
input[type=password],
input[type=number] {
	color: var(--font-body-color);
	padding: 10px;
	background-color: var(--bg2);
	border: dashed 1px var(--secondary-accent);
	border-radius: 5px;
}

button {
	font-family: var(--font-game);
	color: var(--primary-accent);
	font-weight: 700;
	padding: 1em;
	margin: 1em 0;
	background-color: var(--secondary-accent);
	border: none;
	border-radius: 5px;
}

/* Header settings */
body > header {
	background-color: var(--bg1);
	border-bottom: 1px solid var(--alt-primary-accent);
	width: 100%;
}

body > header nav {
	max-width: 38rem;
	width: 100%;
	margin: auto;
}

body > header nav ul {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

body > header nav li {
	font-family: var(--font-game);
	flex: 1 0 25%;
}

body > header nav a,
body > header nav a:visited {
	text-decoration: none;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: block;
	padding: 3em 1em .25em;
	text-align: center;
	font-size: 80%;
	transition: box-shadow .2s ease-in-out;
}

body > header nav a:hover,
body > header nav a:active {
	box-shadow: 0 2px var(--secondary-accent);
}

/* Street Sign */
h1 {
	font-family: var(--font-game);
	background-color: var(--bg1);
	font-size: 2.5em;
	margin: 0 auto;
	padding: 10px 10px 0;
	width: 100%;
	max-width: 38rem;
	box-sizing: border-box;
}

h1 span {
	font-family: var(--font-heading);
	font-size: 50%;
	margin-left: 5px;
	color: var(--primary-accent);
}

body > footer {
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin: auto;
}

/* Standard Section */
section {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	max-width: 25rem;
	margin: 0 0 10px;
	border-radius: 10px;
	background-color: var(--bg3);
	width: 100%;
}

section header {
	align-self: stretch;
	height: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--alt-primary-accent);
}

section header h2 {
	flex-grow: 2;
	align-self: stretch;
	margin: 10px 10px;
	font-family: var(--font-game);
	font-weight: normal;
}

section header button {
	background: none;
	border: none;
	flex-basis: 40px;
	color: var(--secondary-accent);
	font-weight: bold;
	padding-top: 1em;
}

section p {
	margin: 10px;
}

section a {
	font-weight: bold;
	color: var(--primary-accent);
	text-decoration: underline;
}

/* Section Contents */

/* User Input & forms */
.user-input form {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	margin: 10px;
}

.user-input input {
	margin: 0;
}

.user-input button {
	align-self: flex-end;
}

.user-input label {
	font-size: 80%;
	margin: 15px 0 2px;
}

#search form {
	flex-flow: row nowrap;
}

#search input {
	flex-grow: 1;
	align-self: center;
	margin-right: 10px;
}

.game {
	font-family: var(--font-game);
	font-weight: 700;
	font-style: normal;
	text-align: center;
	font-size: 150%;
}

.start {
	font-family: var(--font-game);
	font-weight: 700;
	font-size: 125%;
	text-decoration: none;
	text-align: center;
	padding: 1rem;
	background-color: var(--secondary-accent);
	border-radius: 5px;
	margin: 10px;
}

.continue {
	font-family: lores-12, sans-serif;
	font-weight: 700;
	font-size: 125%;
	text-decoration: none;
	text-align: center;
	padding: 1rem;
	background-color: var(--alt-primary-accent);
	color: var(--secondary-accent);
	border-radius: 5px;
	margin: 10px;
}

section > img {
	width: 50%;
	margin: 2rem auto;
}

/* GameCard */
.card-game,
.card-add-game {
	display: flex;
	justify-content: space-around;
	padding: 10px 5px;
	align-items: stretch;
	box-sizing: border-box;
	height: 100px;
}

.card-game > *,
.card-add-game > * {
	box-sizing: inherit;
}

.card-game h3,
.card-add-game h3 {
	order: 3;
	flex: 1 1 100%;
	font-size: 1em;
	font-weight: normal;
	margin: 0 15px;
	display: flex;
	align-items: center;
}

.card-add-game h3 {
	color: var(--secondary-accent);
	font-weight: bold;
}

.card-game img,
.card-add-game-outline {
	order: 2;
	flex: 0 0 auto;
	max-height: 80px;
	max-width: 55px;
	border-radius: 5px;
}

.card-game form,
.card-add-game-icon {
	order: 1;
	flex: 0 0 40px;
	margin: 0;
	margin-right: 5px;
	transition: max-width .2s ease-in-out .2s;
}

.card-game button {
	padding: 0;
	border: none;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	background-color: rgba(255, 255, 255, 0);
	font-size: 0;
}

.card-add-game-icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}

.card-add-game-outline {
	height: 100%;
	width: 100%;
	border: 1px dashed var(--secondary-accent);
}

#link-add-game {
	text-decoration: none;
	display: block;
	overflow: hidden;
	transition: max-height .2s ease-in-out;
}

/* Icons and Background images */
.icon-trash { background-image: url('/public/icons/trash.png'); }
.icon-plus { background-image: url('/public/icons/plus.svg'); }

.warning,
.error,
.success {
	--notification: none;
	--bg3: var(--bg1);

	box-sizing: border-box;
	border: 2px solid var(--notification);
	width: 100%;
}

.warning {
	--notification: var(--secondary-accent);
}

.error {
	--notification: red;
}

.succes {
	--notification: green;
}

/* toggle classes */
.no-js section header button {
	/* This hides the unnecessary edit button if JS is disabled */
	display: none;
}

.js .card-game form {
	/* this hides the delete button */
	max-width: 0;
	max-height: 0;
}

.js .card-game.edit-mode form {
	/* this shows the delete button */
	max-width: 40px;
	max-height: none;
}

.js #link-add-game {
	/* this  */
	max-height: 0;
}

.js #link-add-game.edit-mode {
	max-height: 100px;
}

/* animations */
@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fade-in {
	animation: fade-in .5s;
}

@keyframes collapse {
	0% {
		height: 100px;
		opacity: 1;
	}

	100% {
		height: 0;
		opacity: 0;
	}
}

.collapse {
	animation: collapse .25s ease-in;
}
