<%- include('../partials/head.ejs')%>
<title>Player 2 - Home</title>
</head>
<body class="no-js">
	<%- include('../partials/header.ejs') %>
	<main class="fade-in">
		<%- include('../partials/mainheader.ejs') %>
		<h1>Error<span>sorry</span></h1>
		<section>
			<header>
				<h2>Ooops, An error occurred</h2>
			</header>
			<p>Please go back to the <a href="/">homepage</a></p>
		</section>
	</main>
</body>
</html>
