<%- include('../partials/head.ejs') %>
<title>Player 2 - Home</title>
</head>
<body class="no-js">
	<%- include('../partials/header.ejs') %>
	<main class="fade-in">
		<%- include('../partials/mainheader.ejs') %>
		<section>
			<header>
				<h2>Find your Player 2</h2>
			</header>
			<p class="game">
				Plumbers are red,<br>
				hedgehogs are blue,<br>
				press 'Start' to join<br>
				and find your player two.
			</p>
			<img src="/static/images/player-two.png" alt="">
			<a class="start" href="/register">Press to start</a>
			<a class="continue" href="/login">Continue your quest</a>
		</section>
	</main>
	<%- include('../partials/tail.ejs') %>
</body>
</html>
