<%- include('../partials/head.ejs')%>
<title>Player 2 - Home</title>
</head>
<body class="no-js">
	<%- include('../partials/header.ejs') %>
	<main class="fade-in">
		<%- include('../partials/mainheader.ejs') %>
		<section>
			<header>
				<h2>This page cannot be found</h2>
			</header>
			<p>Please go back to the <a href="/">homepage</a></p>
		</section>
	</main>
</body>
</html>
