<%- include('../partials/head.ejs')%>
<title>Player 2 - Offline</title>
</head>
<body class="no-js">
	<%- include('../partials/header.ejs') %>
	<main class="fade-in">
		<h1>Offline<span>....</span></h1>
		<section>
			<header>
				<h2>There is no internet connection</h2>
			</header>
			<p>Make sure you have an internet connection</p>
		</section>
	</main>
</body>
</html>
