<%- include('../partials/head.ejs') %>
<title>Player 2 - Register</title>
</head>
<body class="no-js">
	<%- include('../partials/header.ejs') %>
	<main class="fade-in">
		<%- include('../partials/mainheader.ejs') %>
		<section id="register" class="user-input">
			<header>
				<h2>Create your character</h2>
				<p>Tell me! Who are you?</p>
			</header>
			<form class="" action="/register" method="post">
				<label for="firstName">First name</label>
				<input type="text" name="firstName" required value="">
				<label for="lastName">Last name</label>
				<input type="text" name="lastName" required value="">
				<label for="username">Username</label>
				<input type="text" name="username" required value="">
				<label for="email">Email</label>
				<input type="text" name="email" required value="">
				<label for="password">
					<p>Password</p>
					<p>Password Requirements:</p>
					<ul>
						<li>Minimum 6 characters</li>
						<li>Mixed upper and lowercase</li>
					</ul>
				</label>
				<input type="password" name="password" required value="">
				<button type="submit" name="sign-up">Sign Up</button>
			</form>
		</section>
	</main>
	<%- include('../partials/tail.ejs') %>
	</body>
</html>
