<%- include('../partials/head.ejs') %>
<title>Register</title>
</head>
<body class="no-js">
	<header>
		<%- include('../partials/header.ejs') %>
		<h1>Account<span>register</span></h1>
	</header>
	<main class="fade-in">
		<section id="register" class="user-input">
			<header>
				<h2>Create your character</h2>
			</header>
			<p>Tell me! Who are you?</p>
			<form class="" action="/register" method="post">
				<label for="firstName">First name</label>
				<input type="text" name="firstName" required value="">
				<label for="lastName">Last name</label>
				<input type="text" name="lastName" required value="">
				<label for="username">Username</label>
				<input type="text" name="username" required value="">
				<label for="email">Email</label>
				<input type="text" name="email" required value="">
				<label for="password">Password</label>
				<input type="password" name="password" required value="">
				<button type="submit" name="sign-up">Sign Up</button>
			</form>
		</section>
	</main>
	<%- include('../partials/tail.ejs') %>
	</body>
</html>
