/* Notch support -> move to media query */
@supports(padding: max(0px)) {
	main, body > header, footer {
		padding-left: max(10px, env(safe-area-inset-left));
		padding-right: max(10px, env(safe-area-inset-right));
	}

	body > header {
		padding-top: max(0, env(safe-area-inset-top));
	}
}
