/* Notch support -> move to media query */
@supports(padding: max(0px)) {
	main, body > header, footer {
		padding-left: max(10px, env(safe-area-inset-left));
		padding-right: max(10px, env(safe-area-inset-right));
	}
		
	body > header {
		padding-top: max(0, env(safe-area-inset-top));
	}
}

@media only screen and (min-width: 30em) {

	#icon-menu {
		display: none;
	}
	
	#menu {
		max-height: none;
		height: var(--header-height);
		align-self: stretch;
		overflow: hidden;
		margin: 0;
		width: auto;
	}

	#menu ul {
		flex-flow: row;
	}


	#search {
		grid-area: 2 / 1 / 3 / end;
	}

	#resultlist {
		grid-area: 3 / 1 / end / end;
		display: grid;
		gap: 10px;
		grid-template: auto / 1fr 1fr [end];
	}

	#resultlist > header {
		grid-area: 1 / 1 / 2 / end;
	}
}

@media only screen and (min-width: 48em) {
	main {
		grid-template: auto / repeat(3, 1fr);
	}

	#resultlist {
		grid-template: auto / repeat(3, 1fr) [end];
	}
}

@media only screen and (min-width: 60em) {
	main {
		grid-template: auto / repeat(3, 1fr);
	}

	#search {
		grid-area: 2 / 1 / 3 / 2;
	}

	#resultlist {
		grid-area: 2 / 2 / 4 / end;
		grid-template: auto / repeat(3, 1fr) [end];
	}


}