.no-js #icon-menu {
	display: none;
}

.no-js > header {
	height: calc(2 * var(--header-height));
	max-height: none;
}

.no-js > main {
	margin-top: calc(2 * var(--header-height) + 1em)
}

.no-js #menu {
	max-height: none;
	overflow: hidden;
}

.no-js #menu ul {
		flex-flow: row;
}

