<section class="search">
	<header>
		<h2>Search</h2>
		<p>Look! a chicken</p>
	</header>
	<form action="/games/q" method="get">
		<input type="text" name="search" placeholder="Type a game name to search" value="<%= query.search %>"">
		<button class="icon-search" aria-label='Search' type="submit"></button>
	</form>
</section>