<% include ../partials/head.ejs %>
<title>Login</title>
</head>
<body class="no-js">
	<header>
		<% include ../partials/header.ejs %>
		<h1>Account<span><%=user.username%></span></h1>
	</header>
	<main class="fade-in">
			<section class="user-input">
				<header>
					<h2>Sign Out</h2>
				</header>
				<p><%= 'Hello ' + user.username + ', sign out here' %></p>
				<form class="" action="/account/signout" method="get">
					<button type="submit" name="signout">Sign Out</button>
				</form>
			</section>
	</main>
	<% if (notification) { %>
		<% include ../partials/notification.ejs %>
	<% } %>
</body>
</html>
