<article class="card-game">
	<h3><%= games[index].title %></h3>
	<img src=<%= data[index].img %>>
	<form class="" action="/profile/games/add/<%= data[index].id %>" method="post">
		<button class="icon-plus" type="submit" class="addIcon">Add Game</button>
	</form>
</article>