<header>
	<div id="logo">
		<img src="/static/images/player-two.png" alt="player2 logo">
		<p>Player2</p>
	</div>
	<a id="icon-menu" class="icon-menu" href="#menu">Menu</a>
	<%- include('../partials/nav.ejs') %>
</header>