/* Defines a default section */
section {
	grid-column: 1 / end;
	/* Sizing */

	/* Styling */
	background-color: var(--bg3);
	border-radius: 10px;
	padding: 10px;
}

section > header {
	margin-bottom: 1rem;
	width: 100%;
}

section > header p {
	margin: .5em 0;
	font-style: italic;
	color: var(--primary-accent);
}

section p span {
	font-style: italic;
	color: var(--secondary-accent);
}

article {
	background-color: var(--bg1);
	padding: 10px 5px;
	border-radius: 10px;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

/* min-width: 480px large phone */
@media only screen and (min-width: 30em) {
	
}

/* min-width: 768px tablet portrait */
@media only screen and (min-width: 48em) {
	
}
