.parent-platform-bar {
	--height: 1rem;
	display: flex;
	height: var(--height);
	align-items: stretch;
}

.parent-platform-bar div {
	flex: 0 0 var(--height);
	font-size: 0;
	margin: 0 .2rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}