.platforms ul {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 100%;
}

.platforms li {
	margin: .5rem 0;
}

.platforms div {
	flex: 0 0 var(--height);
	padding-left: 2em;
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;
}